---
import Base from "../layouts/Base.astro";
---
<Base title="Not found">
  <div class="prose">
    <header>
      <h1>Not found</h1>
    </header>
    <p>That page doesn't exist. <a href="/">Head home.</a></p>
  </div>
</Base>
